#prod-dashboard.report-content {
	margin: 16px;
	gap: 16px;
	grid-template-columns: repeat(7, 1fr);

	h3 {
		margin: 0;
		grid-column: 1 / span 7;
	}

	.filter-container {
		grid-column: 1 / span 7;
	}

	@media screen and (max-width: 1440px) {
		& {
			grid-template-columns: repeat(4, 1fr);
		}

		h3 {
			grid-column: 1 / span 4;
		}
	
		.filter-container {
			grid-column: 1 / span 4;
		}
	}
}

.asd {
	display: flex;
	grid-column: 1 / span 7;
	align-items: center;
	
	.mdc-select {
		margin-left: 8px;
		margin-right: 4px;
	}

	h3 span {
		color: var(--mdc-theme-text-secondary-on-background);
	}

	@media screen and (max-width: 1440px) {
		& {
			grid-column: 1 / span 4;
		}
	}
}